<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.datasource">java:comp/env/jdbc/Yokult</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.current_session_context_class">thread</property>

<!-- 		<property name="hibernate.hbm2ddl.auto">validate</property> -->
		<property name="hibernate.show_sql">false</property>
		
		<mapping class="web.member.vo.Member" />
		<mapping class="web.fundraising.vo.CategoryBean"/>
		<mapping class="web.fundraising.vo.OrderBean"/>
		<mapping class="web.fundraising.vo.PlanBean"/>
		<mapping class="web.fundraising.vo.PostBean" />
		<mapping class="web.fundraising.vo.ProposalBean" />
		<mapping class="web.fundraising.vo.StatusBean"/>
		<mapping class="web.fundraising.vo.PostNumberBean"/>		
		
	</session-factory>
</hibernate-configuration>
